### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [160]:
total_players = len(purchase_data["SN"].value_counts())

amount_of_players = pd.DataFrame({"Total Players":[total_players]})
amount_of_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [172]:
data = {
"Number of Unique Items": [len(purchase_data['Item ID'].unique())],
"Average Price": [f'${"{:,.2f}".format(round(purchase_data["Price"].mean(), 2))}'],
"Number of Purchases": [len(purchase_data['Purchase ID'])],
"Total Revenue": [f'${"{:,.2f}".format(purchase_data["Price"].sum())}']
}

display(pd.DataFrame(data))

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [218]:
gender_amount = purchase_data.groupby("Gender")

total_gender_amount = gender_amount.nunique()["SN"]

data = {
    "Total Count": total_gender_amount,
    "Percentage of Players": total_gender_amount/total_gender_amount.sum()*100,
} 

df = pd.DataFrame(data)
df.index.name = None

display(df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"}))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [194]:
gender_amount = purchase_data.groupby("Gender")

data = {
    "Purchase Count": gender_amount.nunique()['Purchase ID'],
    "Average Purchase Price": gender_amount["Price"].mean(),
    "Total Purchase Value": gender_amount["Price"].sum(),
    "Avg Total Purchase per Person": gender_amount["Price"].sum()/gender_amount.nunique()["SN"],
} 

df = pd.DataFrame(data)

formatdict = {
    "Average Purchase Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
    "Avg Total Purchase per Person": "${:.2f}",
}

display(df.style.format(formatdict))

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [228]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 9999999]

manipulated_bins = []

for bin in bins:
    manipulated_bins.append(bin*.999)

purchase_data['Age Group'] = pd.cut(purchase_data['Age'], manipulated_bins, labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'], right=False)

grouped = purchase_data.groupby("Age Group")

data = {
    "Total Count": grouped.nunique()['SN'],
    "Percentage of Players": grouped.nunique()['SN']/len(purchase_data["SN"].value_counts())*100

}


df = pd.DataFrame(data)
df.index.name = None


formatdict = {
    "Percentage of Players": "{:.2f}%",
}

display(df.style.format(formatdict))

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [224]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 9999999]

manipulated_bins = []

for bin in bins:
    manipulated_bins.append(bin*.999)

purchase_data['Age Group'] = pd.cut(purchase_data['Age'], manipulated_bins, labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'], right=False)

grouped = purchase_data.groupby("Age Group")

data = {
    "Purchase Count": grouped['Purchase ID'].count(),
    "Average Purchase Price": grouped['Price'].mean(),
    "Total Purchase Value": grouped['Price'].sum(),
    "Avg Total Purchase per Person": grouped["Price"].sum()/grouped.nunique()["SN"],
}


df = pd.DataFrame(data)
df.index.name = None


formatdict = {
    "Average Purchase Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
    "Avg Total Purchase per Person": "${:.2f}",
}

display(df.style.format(formatdict))

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [237]:
grouped = purchase_data.groupby("SN")

data = {
    'Purchase Count': grouped['Purchase ID'].count(),
    'Average Purchase Price': grouped['Price'].mean(),
    'Total Purchase Value': grouped['Price'].sum(),
}

df = pd.DataFrame(data)
formatdict = {
    "Average Purchase Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
}

display(df.sort_values(["Total Purchase Value"], ascending = False).head(5).style.format(formatdict))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [253]:
sliced = purchase_data[['Item ID', 'Item Name', 'Price']]
grouped = purchase_data.groupby(["Item ID", 'Item Name'])

data = {
    'Purchase Count': grouped['Price'].count(),
    'Item Price': grouped['Price'].sum()/grouped['Price'].count(),
    'Total Purchase Value': grouped['Price'].sum(),
}

df = pd.DataFrame(data)
formatdict = {
    "Item Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
}

display(df.sort_values(["Purchase Count"], ascending = False).head(5).style.format(formatdict))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
sliced = purchase_data[['Item ID', 'Item Name', 'Price']]
grouped = purchase_data.groupby(["Item ID", 'Item Name'])

data = {
    'Purchase Count': grouped['Price'].count(),
    'Item Price': grouped['Price'].sum()/grouped['Price'].count(),
    'Total Purchase Value': grouped['Price'].sum(),
}

df = pd.DataFrame(data)
formatdict = {
    "Item Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
}

display(df.sort_values(["Total Purchase Value"], ascending = False).head(5).style.format(formatdict))

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80